# ==============================================================================
# 🧪 בלוק משתני סביבה עבור סביבת הטסט (Testing Environment) - הערות בלבד
# ==============================================================================

# # הגדרות כלליות של השרת ואבטחת ניהול (מנהל מערכת)
# NODE_ENV=production
# PORT=3001
# ADMIN_USERNAME=admin
# ADMIN_PASSWORD=OpalAdmin2026

# # כתובות האפליקציה בטסט (הכתובות הזמניות של ה-Preview)
# BASE_URL=https://opal-production-5fee.up.railway.app
# FRONTEND_URL=https://opal-production-5fee.up.railway.app

# # בסיס נתונים (MongoDB) של הטסט
# MONGO_DB_NAME=opal
# MONGODB_URI=mongodb://mongo:ochqRNMFFEtIRaqiJPmIiqdIlsQmVqmQ@mongodb.railway.internal:27017

# # הגדרות שליחת מיילים (Resend API) לטסט
# RESEND_API_KEY=re_2VigMRyx_7FuP6Cp96BKi7yEPfkeA5Lzk

# # שרת מיילים ידני (SMTP) - בדיקות
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=dy4261369@gmail.com
# SMTP_PASS=qakyltzktkaztfzk
# SMTP_SECURE=false

# # פרטי השולח במיילים של הטסט
# MAIL_FROM_ADDRESS=info@opal4u.co.il
# MAIL_FROM_NAME=OPAL

# # 💳 הגדרות קארדקום - סביבת טסט (בדיקות)
# CARDCOM_TERMINAL=1000
# CARDCOM_USER=test2025
# CARDCOM_PASS=kHbz3DRxrHNcSHeJJWt9

# # 🚨 מפתחות אבטחה ו-Webhooks לקארדקום (טסט)
# CARDCOM_WEBHOOK_IPS=82.80.227.16/29,82.80.222.120/29
# CARDCOM_MASTER_RECURRING_SECRET= jcFzMD8sXXQvt7CgJj5SjuqISDzamjwQ71UEkmvC2XDxCVlG9
# CARDCOM_DETAIL_RECURRING_SECRET= jcFzMD8sXXQvt7CgJj5SjuqISDzamjwQ71UEkmvC2XDxCVlG9


# ==============================================================================
# 🚀 בלוק משתני סביבה עבור סביבת הפרודקשן (Production / Live) - הערות בלבד
# ==============================================================================
# # הגדרות כלליות של השרת ואבטחת ניהול (מנהל מערכת)
# NODE_ENV=production
# PORT=3001
# ADMIN_USERNAME=admin
# ADMIN_PASSWORD=OpalAdmin2026

# # כתובות האפליקציה בטסט (הכתובות הזמניות של ה-Preview)
# BASE_URL=https://opal-production-5fee.up.railway.app
# FRONTEND_URL=https://opal-production-5fee.up.railway.app

# # בסיס נתונים (MongoDB) של הטסט
# MONGO_DB_NAME=opal
# MONGODB_URI=mongodb://mongo:ochqRNMFFEtIRaqiJPmIiqdIlsQmVqmQ@mongodb.railway.internal:27017

# # הגדרות שליחת מיילים (Resend API) לטסט
# RESEND_API_KEY=re_2VigMRyx_7FuP6Cp96BKi7yEPfkeA5Lzk

# # שרת מיילים ידני (SMTP) - בדיקות
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=dy4261369@gmail.com
# SMTP_PASS=qakyltzktkaztfzk
# SMTP_SECURE=false

# # פרטי השולח במיילים של הטסט
# MAIL_FROM_ADDRESS=info@opal4u.co.il
# MAIL_FROM_NAME=OPAL

# # 💳 הגדרות קארדקום - סביבת טסט (בדיקות)
# CARDCOM_TERMINAL=1000
# CARDCOM_USER=baguuBDJ6EJ5a4xmUrW2
# CARDCOM_PASS=kHbz3DRxrHNcSHeJJWt9

# # 🚨 מפתחות אבטחה ו-Webhooks לקארדקום (טסט)
# CARDCOM_WEBHOOK_IPS=82.80.227.16/29,82.80.222.120/29
# CARDCOM_MASTER_RECURRING_SECRET= jcFzMD8sXXQvt7CgJj5SjuqISDzamjwQ71UEkmvC2XDxCVlG9
# CARDCOM_DETAIL_RECURRING_SECRET= jcFzMD8sXXQvt7CgJj5SjuqISDzamjwQ71UEkmvC2XDxCVlG9_***